@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --background: #f8f9fa;
    --primary: #9f7db7;
    --secondary: #e3b8d8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    text-decoration: none;
    list-style-type: none;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    background: var(--background);
    max-height: 80px;
    max-width: 1920px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 200px;
}

.nav-list-block {
    padding-left: 70%;
}

.nav-list {
    display: flex;
    align-items: right;
}

.nav-item {
    display: flex; 
    padding-left: 10%;
    padding-right: 10%;
    width: 60%;
}

.simple-item .Bloom-logo {
    margin-top: 10px;
}

a {
    color: black;
}

.simple-item a:hover {
    font-weight: bold;
    color: slategray;
}

.contact-button {
    background-color: var(--secondary);
    border-radius: 15px;
    padding: 10% 20% 10% 20%;
    margin-top: -5px;
    align-items: right;
    border: var(--secondary);
}

#hero {
    padding: 50px 0 20px 50px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Bloom-background.png);
}

.hero-info {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 60%;
}

.hero-info h1 {
    font-size: 48px;
    width: 60%;
    font-weight: 700;
    color: var(--primary)
}

.hero-info p {
    font-size: 16px;
    width: 60%;
    color: #000
}

.hero-info button {
    border-radius: 10px;
    font-size: 14px;
    color: #000000;
    background-color: var(--secondary); 
    border: var(--secondary);
    padding: 10px 0px;
    width: 120px;
    text-align: center;
}

.hero-image {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#description {
    padding: 50px;
    text-align: center;
}

.resumen {
    padding: 20px;
}