@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --background: #f8f9fa;
    --primary: #9f7db7;
    --secondary: #e3b8d8;
    --terciary: #cadb81;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    text-decoration: none;
    list-style-type: none;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    background: var(--background);
    max-height: 80px;
    max-width: 1920px;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex; 
    padding-left: 10px;
    padding-right: 10px;
}

.simple-item .Bloom-logo {
    margin-top: 10px;
}

a {
    color: black;
}

.simple-item a:hover {
    font-weight: bold;
    color: slategray;
}

.contact-button {
    background-color: var(--secondary);
    border-radius: 15px;
    padding: 10px;
    margin-top: -5px;
    align-items: right;
    border: var(--secondary);
}

#menu-toggle,
.menu-label {
  display: none;
}

#hero {
    padding: 50px 0 20px 50px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Bloom-background.png);
}

.hero-info {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 60%;
}

.hero-info h1 {
    font-size: 48px;
    width: 60%;
    font-weight: 700;
    color: var(--primary)
}

.hero-info p {
    width: 60%;
    color: #000
}

.hero-info button {
    border-radius: 10px;
    color: #000000;
    background-color: var(--secondary); 
    border: var(--secondary);
    padding: 10px;
    width: 130px;
    text-align: center;
}

.hero-image {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#description {
    padding: 50px;
    text-align: center;
}

.resumen {
    padding: 20px;
}

#seccion2 {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
}

#seccion2 h3 {
    text-align: center;
}

.ventajas {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 190px;
    padding: 40px 30px;
    border-radius: 20%;
}

.card img {
    max-width: 70px;
    padding-top: 10px;
}

.card p {
    padding: 20px 10px 20px 10px;
    text-align: center;
}

.ventajas .card:first-child {
    background-color: var(--primary);
}

.ventajas .card:nth-child(2) {
    background-color: var(--secondary);
}

.ventajas .card:last-child {
    background-color: var(--terciary);
}

#contacto {
    padding: 40px 40px 40px 0;
}

#contacto h2 {
    color: var(--primary);
    padding-left: 40px;
}

.bloque-contacto {
    display: flex;
    justify-content: left;
    flex-direction: row;
    max-width: 1920px;
    padding: 40px;
}

.info-contacto {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 300px;
}

.info-contacto span {
    display: flex;
    padding: 10px 0 10px 20px;
}

.info-contacto h4 {
    padding: 0 20px 20px 20px;
}

.info-contacto h4::first-letter {
    color: var(--terciary);
}

.info-contacto p {
    font-size: 16px;
}

.info-contacto a {
    font-size: 16px;
}

.info-contacto img {
    max-width: 30px;
    padding-right: 10px;
}

.imagen-contacto {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    padding-left: 400px;
}

.imagen-contacto img {
    max-width: 500px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

footer img {
    max-width: 150px;
}